/* -------------------------------------------

Name: 		Rachel Wallis - Dark Mode
Version:    1.0
Developer:	Rachel Wallis
Portfolio:  Rachel-Wallis.com

Thanks for looking :) 

I am available for Freelance hire (Product Design, UX design, UI design, Design Systems, Web Development). email: rachel@rachel-wallis.com

------------------------------------------- */

/*--------------------------------------------

1. common
    - main
    - typography
    - button
    - link 
    - divider
    - section title
    - spaces
2. components
    - preloader
    - scrollbar
    - frame
    - right banner
    - content banner
    - about
    - circle text
    - skills
    - iconbox
    - blog
    - reviews
    - puplication details
    - subscribe form
    - breadcrumbs
    - pagination
    - story timeline
    - categories
    - portfolio item
    - carousel navigation
    - contact form
    - prices
    - accordion
    - footer
    - page transitions

--------------------------------------------*/

@import 'variables-dark';
@import 'common';
@import 'components';
